@import "./Character.scss";
@import "./Modal.scss";
@import "./variables.scss";
@import "./Footer.scss";
@import "./NavBar.scss";
@import "./Locations.scss";

body {
  margin: 0;
  font-family: sans-serif;
  background: $background-color;
  color: $text-light;
  text-align: center;
}
.App {
  margin: 0 auto;
}
h1 {
  color: $primary-color;
  font-size: 4em;
  letter-spacing: 2px;
}

button {
  margin: 0 10px;
  background: transparent;
  border: 3px solid $text-light;
  border-radius: 15px;
  padding: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
  font-size: small;
}
.button:hover {
  color: $text-hover;
  border-color: $text-hover;
}

.button-disabled {
  opacity: 0.6;
  background-color: $secondary-color;
}

.content {
  text-align: left;
}

.card {
  padding: 8px 16px;
  background: $third-color;
  margin: 16px 0;
  border-radius: 20px;
  width: 310px;
}

.card p {
  margin: 6px 0;
}

.card h3 {
  margin: 10px 0;
  color: $primary-color;
}

.card_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card_Details {
  text-align: left;
}

img {
  height: 120px;
}

.main_app {
  margin: 20px;
}
