@import "./variables.scss";

.smallIcon {
  height: 20px;
}

#name_input {
  height: 31px;
}

.filter_section {
  background-color: $third-color;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
}
