// $primary-color: #ffff57; 
// $secondary-color: #61dafb;
// $third-color: #1b1b1b;
// $background-color: #222;
// $text-light: #ddd;
// $text-hover: #fff;

$primary-color: #7cfc24; 
$secondary-color: #222;
$third-color: #7b7b7c;
$background-color: #535354;
$text-light: #ddd;
$text-hover: #fff;
$shadow: honeydew;
$modal-background: rgba(0, 0, 0, 0.4);